<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        body{
            background:rgba(30,30,255,0.5);
        }
        h1{
            font-family: 'Times New Roman', Times, serif;
            
        }
        h1 a{
            text-decoration: none;
            color:rgb(30,30,255);
            transition: all 0.5s;
    
        }
    
        h1 a:hover{
            color:white;
        }
        hr{
            color:black;
        }
        </style>
</head>
<body>
    <h1><a href="/">Twitter</a></h1>
    <hr>
        <h2>New post</h2>
        <form method="POST">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
</body>
</html>